body{
  font-family: 'IBM Plex Sans Condensed', sans-serif;


}


#conteneur{
	width: 1020px;
	padding: 20px;
	margin: 80px auto;
	border: 1px solid black;
}

hr{
	background-color: black;
	color: black;
	border: 0.5px solid black;
}

span{
	padding: 10px;
	margin-right: 20px;
	border: 1px solid black;
}

a {
	padding: 10px;
	margin-right: 20px;
	border: 1px solid black;

}

strong{
	padding: 10px;
	margin-right: 20px;
	border: 1px solid black;
}

em {
	padding: 10px;
	margin-right: 20px;
	border: 1px solid black;
}


h1{
	text-transform:uppercase;
	padding: 20px;
	border: 1px solid black;
}

p{
	width: 400px;
	padding: 20px;
	border: 1px solid black;
}

ul{
	width: 300px;
	padding: 20px;
	border: 1px solid black;
	display: inline-block;
	margin-right: 10px;
}
ol{
	width: 300px;
	padding: 20px;
	border: 1px solid black;
	display: inline-block;

}

li{
	margin: 10px;
	border: 1px solid black;
}
figure{
	padding: 20px;
	border: 1px solid black;

}
img{
	padding: 20px;
}
div{
	padding: 20px;
	border: 1px solid black;
}

#lien{
	font-family: 'Varela Round', sans-serif;
	color:black;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
	border: 0px;

}
#suite{

	transform: rotate(-90deg);
	width: 20px;
	text-align: right;
	position: fixed;
	right: 20px;
	top:20px;
	border: 0px;

}