@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/****************************************début de mon code CSS************************************/

body{background-color: #D6F6DD;}

#bloctexte1{
	width: 300px;
	margin: 20px auto;
	background-color: white;
	border: 3px solid black;
	font-size:14px;
	font-family: 'Raleway', sans-serif;
	line-height:1.3;
	box-shadow: 10px 10px 0px black;
	}

	
#bloctexte2{
	width: 300px;
	margin: 20px auto;
	background-color: white;
	padding: 10px;
	border: 3px solid black;
	font-size:14px;
	font-family: 'Raleway', sans-serif;
	line-height:1.3;
	box-shadow: 10px 10px 0px black;
	}
	
#bloctexte3{
	width: 300px;
	margin: 20px auto;
	background-color: white;
	padding: 30px;
	border: 3px solid black;
	font-size:14px;
	font-family: 'Raleway', sans-serif;
	line-height:1.3;
	box-shadow: 10px 10px 0px black;
	}

h1{ font-weight: bold;
	font-family: 'Raleway', sans-serif;
	font-size:0.7em;
	margin: 20px auto;
	width: 300px;
}
a{
	font-family: 'Varela Round', sans-serif;
	color:black;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
	opacity: 1;

}
#suite{

	transform: rotate(-90deg);
	width: 20px;
	text-align: right;
	position: fixed;
	right: 20px;
	top:20px;
}

#previous{
	transform: rotate(90deg);
	width: 20px;
	text-align: right;
	position: fixed;
	left: 20px;
	top:20px;
}